[Unit]
Description=Connect to PIA
After=network.target

[Service]
Type=oneshot
RuntimeDirectory=pia
RuntimeDirectoryMode=0700
ExecStart=/usr/bin/pia-wg-connect -l info connect -f /run/pia/port
RemainAfterExit=true
ExecStop=/usr/bin/pia-wg-connect -l info disconnect
StandardOutput=journal
[Install]
WantedBy=multi-user.target